@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
h1,h2,h3,h4,a{
    font-family: 'Open Sans', sans-serif;
}
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Clases utilitarias */
.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.text-orange{
    color: rgb(246, 177, 48);
}
/* start edit parrafos */
p{
    color:rgb(70, 70, 200);
    font-size: 20px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}
/* ends edit parrafos */
/* start edit titles */
h1{
    color:rgb(48, 189, 142);
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color:rgb(48, 189, 142);
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}
h3{
    color:rgb(48, 189, 142);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
/* ends edit titles */
p{
    color:rgb(235, 124, 96)
}
.text-bold{
    font-weight: bold;
}
/* start edit menu */
.menu{
    background-color: rgba(236, 244, 220, 0.8);/* color del fondo */
    padding: 8px 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    list-style: none;
     /* flexbox */
     display: flex;
}
    .menu ul li{
       margin-right: 20px;
    }
    .menu ul li a{
        text-decoration: none;
        color:rgb(11, 137, 76);
        font-size: 20px;
    }
    /*hover*/
    .menu ul li a:hover{
        text-decoration: underline;
        color: black;
    }
    .menu img{
        width: 30px;
        height: 30px;
    }
/* ends edit menu */
/* start edit img */
.bg-pattern :disabled{
    /* desactivado quedaba horrible */
           background-image: url(../../img/fondo-navideno-invernal-textura-hielo-copos-nieve_1048-17092.jpg.avif);background-repeat:repeat;
           background-attachment: fixed;background-position: center;
           }
header img{
    display: block;
    width: 100%;
}
/* ends edit img */
/* starts edit container */
.container{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 35px;
    display: flex;
    flex-flow: row;
    position: relative;
}
/* ends edit container */
/* starts edit footer */
footer{
    background-color: #180427;
    padding-top: 60px 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
}
.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: aqua;
}
.footer-col img{
    width: 45px;
    height: 45px;
}
.footer-col h4{
    padding-top: 10px;
    padding-left: 30px;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #180427;
    height: 2px;
    width:40px;
}
.footer-col ul li{
    margin-bottom: 8px;
}
.footer-col ul li a{
    display: block;
    font-size: 19px;
    color: antiquewhite;
    text-decoration: none;
    transition: 0.4s;
}
.footer-col ul li a:hover{
    color: rgb(194, 244, 212);
    padding-left: 2px;
}
@media (max-width:740px){
        .footer-col{
            width: 50%;
            margin-bottom:30px;
            text-align: center;
        }
    .footer-col h4::before{
    all:unset;
    }
}
@media (max-width: 555px){
    .footer-col{
        width: 100%;
    }
}
/* ends edit footer */
/* productos */
.productos-destacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* mas de una fila */ 
    justify-content: space-evenly;
    padding: 10px 50px;
}
    figure.productos{ /* Edit cajita */
        border: 1px solid rgb(6, 1, 1);
        border-radius: 10px;
        width: 30%;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(215, 230, 231);
    }
    figure.productos img{ /* Edit Img. Cajita */
        width: 100%;
        height: 100%;
    }
    figure.productos figcaption{ /* Edit encabezado de cajita */
        color: rgb(175, 230, 242);
        font-size:1em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    figure.productos p{ /* Edit text cajita, sin uso por el momento */
        font-size: 1.1em;
        line-height: 1em;
        margin-bottom: 30px;
    }
    button {
        border: 0;
        background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
        border-radius: 8px;
        color: white;
        font-display: flex;
        font-size: 1em;
        padding: 4px 10px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;
    }
    button:hover span{
        background: none;
    }
    button:active {
        transform: scale(0.9);
    }
/* Starts Grid Promos*/
#ofer-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: reapeat(6,20vh) ;
    grid-template-areas:
    "prod-1"
    "prod-2"
    "prod-3"
    "prod-4"
    "prod-5"
    "prod-6"
    ;
}
.prod-1{
    grid-area: prod-1;
}
.prod-2{
    grid-area: prod-2;
}
.prod-3{
    grid-area: prod-3;
}
.prod-4{
    grid-area: prod-4;
}
.prod-5{
    grid-area: prod-5;
}
.prod-6{
    grid-area: prod-6;
}
#ofer-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* 1er Break Point*/
@media (width >= 600px){
    #ofer-grid{
        grid-template-columns: 1 fr, 2 fr;
        grid-template-rows: repeat(4,30vh);
        grid-template-areas: 
        "prod-1 prod-2"
        "prod-1 prod-3"
        "prod-1 prod-4"
        "prod-5 prod-6";
        gap: 5px;
    }
}
/* 2do Break Point*/
@media (width >= 1024px){
    #ofer-grid{
        grid-template-columns: 1fr, 2fr, 1fr;
        grid-template-rows: repeat(4, 40vh);
        grid-template-areas:
        "prod-2 prod-1 prod-3"
        "prod-2 prod-4 prod-3"
        "prod-2 prod-5 prod-6"
        ;
        gap: 5px;
    }
}
#ofer-grid img{
    filter:grayscale(0.9)
}
#ofer-grid img:hover{
    filter:none;
    cursor: pointer;
}