.cas{
    height: 90vh;
    width: 100%;
    position: relative;
img{
    height: 80vh;
    width: 100%;
    }
}

.productos-destacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 50px;
    figure.productos{
    @include borders(solid,$black,10px,2px);
        margin-bottom: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(215, 230, 231);
    img{
        width: 100%;
    }
    figcaption{
        color: map-get($map: $fuentes, $key: two);
        font-size:1em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    a{
        background-color: $mainColor;
        color: $white;
        padding: 4px 30px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
    }
    p{
        font-size: $md;
        line-height: $md;
        margin-bottom: 30px;
        }
    }
}

.button{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    border-radius: 8px;
    color: $white;
    font-display: flex;
    font-size: $md;
    padding: 4px 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
        &:hover span{
        background: none
    }
        &:active {
        transform: scale(0.9);
    }
}

.button-h{
    @extend .button;
    background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}