@mixin borders($style,$color,$radius,$width){
    border-style: $style;
    border-color: $color;
    border-radius: $radius;
    border-width: $width;
}

$fuentes:(
    'one': rgb(11, 137, 76),
    'two': rgb(184, 231, 241),
    'three': rgb(0, 255, 255),
    'four': hsl(34, 78%, 91%),
    'five': rgb(194, 244, 212),
    'six': rgb(133, 255, 255),
);

@mixin flex($dire,$justy,$align,$wrap){
    display: flex;
    flex-direction: $dire;
    justify-content: $justy;
    align-items: $align;
    flex-wrap: $wrap;
}