.container-p{
    .prod-2{
        margin-left: 20px;
    }
}

#ofer-grid{
    display: grid;
    grid-template-rows: reapeat(6,20vh);
    grid-template-areas:
    "prod-1"
    "prod-2"
    "prod-3"
    "prod-4"
    "prod-5"
    "prod-6"
    ;
}

#ofer-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    filter:grayscale(0.9)
            &:hover{
                 filter:none;
                 cursor: pointer;
    }
}

.prod-1{
    grid-area: prod-1;
}
.prod-2{
    grid-area: prod-2;
}
.prod-3{
    grid-area: prod-3;
}
.prod-4{
    grid-area: prod-4;
}
.prod-5{
    grid-area: prod-5;
}
.prod-6{
    grid-area: prod-6;
}

// 1er Break Point
@media (width >= 600px){
    #ofer-grid{
        grid-template-columns: 1 fr, 2 fr;
        grid-template-rows: repeat(4,30vh);
        grid-template-areas: 
        "prod-1 prod-2"
        "prod-1 prod-3"
        "prod-1 prod-4"
        "prod-5 prod-6";
        gap: 5px;
        
    }
}
#ofer-grid img{
    filter:grayscale(0.9)
        &:hover{
        filter:none;
        cursor: pointer;
        }
    }

//2do Break Point
@media (width >= 1024px){
    #ofer-grid{
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: repeat(3, 40vh);
        grid-template-areas:
        "prod-2 prod-1 prod-3"
        "prod-2 prod-4 prod-3"
        "prod-2 prod-5 prod-6"
        ;
        gap: 5px;
    }
}